<!DOCTYPE html>
<html>
<head>
	<title>about us</title>
	<link rel="stylesheet"  href="static/css/aboutus.css" >
	<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<section>
	<nav>

		<embed src="static/img/logoo.svg" width="400" height="100" type="image/svg+xml" <div class="logoo"></div>



		<div class="search" style="position: relative;float: right;padding-right: 40px;">
			<form action="/search" method="POST" style="display: inline-block;">
				<input type="text" placeholder="   search here" name="search">
				<button>
					<i class="fa fa-search" style="font-size: 18px;">
					</i>
				</button>
			</form>
			<a href="/signout"><button>
				<i class="fas fa-sign-out-alt" title="Signout" style="font-size: 25px"> </i>
			</button></a>
		</div>



		<ul class="dash" style="position: relative; top: -10px;">


			<li><a href="/#"><span class="fas fa-home"></span>HOME</a></li>

			<!-- <li><a href="#"><span class="fas fa-question-circle"></span> ASK A QUESTION</a></li> -->

			<li><a href="/articles"><span class="fas fa-book"></span>ARTICLES</a>




			</li>

		</ul>
	</nav>

</section>
<div class="sect">
	<a href="https://www.youtube.com/watch?v=F9KVAgPurwM" class="anch">
<div class="git">
	<i class="fab fa-github" style="position: relative; left: 100px;"></i><br>
	<div class="text" style="position: relative;left: -10px; color: #73a6f1;top: -10px; font-size: 30px;">click here for github repository</div>
</div></a>

<div class="abt">
	<div style="font-size: 30px;float:right; padding-right: 60px;padding-top: 100px;" >Project By:<br>
	Antara Howal<br> 
	Siddhantha Bokade<br> 
	Atharva Golapkar<br> 
	Rutuja Khilari<br>
</div>
<div  style="position: relative;top: 350px;">
<img src="static/img/clglogo.png" class="pce" style="width: 150px; height: 150px; position: relative; left: -550px; top: -280px;border-radius: 20px;">
<div class="address">MAHATMA EDUCATION SOCIETY'S 
PILLAI COLLEGE OF ENGINEERING<div class="add2">Dr.K.M.Vasudevan Pillai Campus<br>sector-16,New Panvel-410206<br>Tel:002-27482133/27456030</div></div>
</div>
</div>
</body>
</html>