<!DOCTYPE html>
<html>
<head>
	<title>interest</title>
	<link rel="stylesheet" type="text/css" href="static/css/interest.css">

	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">



	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
	
</head>
<body style="background-color: none;">
		

	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

	<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
		<section>
			<nav>


				<embed src="static/img/logoo.svg" width="400" height="100" type="image/svg+xml" <div class="logoo" style="background: none;"></div>
		
		
		
					<div class="search">
						<form action="/search" method="POST" style="display: inline-block;background-color: #1b1b1b;">
							<input type="text" placeholder="   search here" name="search">
							<button>
								<i class="fa fa-search" style="font-size: 18px;background-color: #1b1b1b;">
								</i>
							</button>
						</form>
						<a href="/signout">
							<button>
							<i class="fas fa-sign-out-alt" title="Signout" style="font-size: 25px"> </i>
						</button></a>
					</div>
		
		
		
					<ul class="dash"  style="font-size: 18px;background-color: #1b1b1b;position: relative;left: 80px;top: 0px;">
		
		
						<li style="background:#1b1b1b;"><a href="/#"><span class="fas fa-home" ></span> HOME</a></li>
		
						<!-- <li><a href="#"><span class="fas fa-question-circle"></span> ASK A QUESTION</a></li> -->
		
						<li style="background:#1b1b1b;"><a href="/articles"><span class="fas fa-book"></span>ARTICLES</a></li>
		
					</ul>
			</nav>
		
		</section>
		

	<div class="container"><h1 class="header" style="border: 4px solid #1b1b1b;border-radius: 20px;background-color: #d1cdcd;">To start , what interests you the most</h1>

		<ul>
		<a href="https://forms.gle/4B31oMjrVos3M1MK7 "><li class="box"><div class="pic"><img src="static/img/html.svg" class="pic"></div><b><p>HTML</p></b></li></a>
		<a href="https://forms.gle/rgJg84Fowcr9RrMs9"><li class="box"><div class="pic"><img src="static/img/css-3.svg"></div><b><p>CSS</p></b></li></a>
		<a href="https://forms.gle/FcWXLDnCqojxeVMe8"><li class="box"><div class="pic"><img src="static/img/javascript.svg"></div><b><p>JAVASCRIPT</p></b></li></a>
		<a href="https://forms.gle/4PJPDY4FMynZLzev8 "><li class="box"><div class="pic"><img src="static/img/java.svg"></div><b><p>JAVA</p></b></li></a>
		<a href="https://forms.gle/YsbxpseL3BPsGbon9"><li class="box"><div class="pic"><img src="static/img/C.svg"></div><b><p>C</p></b></li></a>
		<a href="https://forms.gle/d9bDYJMzNahQj4WG8"><li class="box"><div class="pic"><img src="static/img/c++.svg"></div><b><p>C++</p></b></li></a>
		<a href="https://forms.gle/NmBByrQqCG8cdUQH6 "><li class="box"><div class="pic"><img src="static/img/database.svg"></div><b><p>DATA STRUCTURE</p></b></li></a>
		<a href="https://forms.gle/KCPhfTGPnk1mDGQc8"><li class="box"><div class="pic"><img src="static/img/sql.svg"></div><b><p>POSTGRE SQL</p></b></li></a>
		<a href="https://forms.gle/bcVSX9ai7hP3fX4h6"><li class="box"><div class="pic"><img src="static/img/networking.svg"></div><b><p>NETWORKING</p></b></li></a>
	</ul>
	<div class="back">
	<div class="homebutton">
		HOME
	</div>
	</div>
	</div>



	<footer>
		<div class="main-content">
			<div class="left-box">
				<h2>ABOUT US</h2>
				<div class="content">
					<p>We created 
						this online forum 
					using Python where people
					can post and 
					enhance 
					their knowledge by
					 reading articles and whats 
					trending in this sector</p>
					
				</div>
			</div>
			
			<div class="right-box">
				<h2>FEEDBACK/SUGGESTIONS</h2>
				<div class="content">
					<form action="#">
						<div class="name">
							<div class="text">NAME *</div>
							<input type="name" name="" value="" required>
						</div>
						<div class="email">
							<div class="text">EMAIL *</div>
							<input type="email" name="" value="" required>
						</div>
						<div class="feedback">
							<div class="text">FEEDBACK *</div>
							<textarea name="name" rows="4" cols="30" required></textarea>
						</div>
						<div class="send">
							<button type="submit" name="button">SEND</button>
						</div>
					</form>
					</div>
			</div>
	
		</div>
		
	</footer>

	

</body>
</html>